<!DOCTYPE html>
<html>
<title>Live Wire Projects</title>
<head>
    <script src="~/Scripts/Angular/Library Files/angular.js"></script>
    <script src="~/Scripts/Angular/Library Files/angular-ui-router.js"></script>
    <script src="~/Scripts/Angular/App/app.js"></script>
    <script src="~/Scripts/Angular/App/stateController.js"></script>
    <script src="~/Scripts/Angular/Services/ksService.js"></script>
    <script src="~/Scripts/Angular/Controller/Login/ksLoginController.js"></script>
    <script src="~/Scripts/Angular/Controller/Home/ksStateParentController.js"></script>

</head>
<body ng-app='lwp'>
    <div ui-view></div>
</body>
</html>
